body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 2rem; 
    padding: 0 1rem; 
    min-height: 100vh; 
}

h2 {
    font-size: 2rem; 
    font-weight: bold;
    color: rgb(29, 26, 26); 
    text-align: center; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 1.5rem; 
    margin-top: 1.5rem; 
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem; 
    }
}