.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background: rgb(133, 136, 96); 
    border-radius: 8px;
    width: 400px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; 

.modal-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.modal-content p {
    font-size: 0.875rem;
    color: #9ca3af;
    margin-bottom: 0.5rem;
}

.modal-close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    color: #9ca3af;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-image {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%; 
        padding: 1rem; 
    }
}}